.header-container{
    height: 5em;
    width:100%;
    display: flex;
    background-color: #fff;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: rgb(238, 238, 238) 2px 4px 5px;
}


.header-container > .header-left{
    font-family:monospace;
    font-size: 1.9em;
    color:#1ce1ac;
    width:25%;
    font-weight: 700;

    display:flex;
}

.header-right{
    width:60%;
    display:flex;
    margin-right:3em;
    justify-content: space-evenly;
    align-items: center;

    font-family:monospace;
    font-size: 1.5em;
    color:#6c757d;

}

.header-control{
    width:12em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-control > div:hover{
    color:#1ce1ac;
    cursor:pointer;
}